<div
  class="container Recuadro"
  *ngIf="(section?.visible && !isLogged) || isLogged"
>
  <!-- <editable data="{{ info?.title }}" heading="Title"></editable> -->
  <h2>
    {{ section?.sectionTitle }}
    <editBtn
      *ngIf="isLogged"
      key="sectionTitle"
      value="{{ section?.sectionTitle }}"
      (updatedValue)="onUpdatedTitleValue($event)"
    ></editBtn>

    <visible-btn
      *ngIf="isLogged"
      [isVisible]="section?.visible"
      key="visible"
      (toggleVisibility)="onUpdatedTitleValue($event)"
      [id]="section?.id"
    >
    </visible-btn>
  </h2>
  <p>
    {{ content?.paragraph }}
    <editBtn
      *ngIf="isLogged"
      key="paragraph"
      value="{{ content?.paragraph }}"
      [paragraph]="true"
      [id]="content?.id"
      (updatedValue)="onUpdatedValue($event)"
    ></editBtn>
  </p>
  <!-- <p *ngFor="let item of info?.items; index as i">
    {{ item }}
    <editBtn
      *ngIf="isLogged"
      key="item"
      value="{{ item }}"
      [paragraph]="true"
      (updatedValue)="onUpdatedValue($event)"
      [position]="i"
    ></editBtn>
  </p> -->
</div>
