<nav class="Navbar bg-black">
  <div class="container d-flex justify-content-between">
    <div class="izq d-flex align-items-center">
      <img
        src="assets/Logo.png"
        alt="Logo #YoProgramo"
        class="Navbar_logo p-1"
        width="43"
        height="34"
      />
      <h1 class="my-0 ms-1 text-light">#YoProgramo</h1>
      <h6 class="d-none d-md-block" style="color: red">{{ env }}</h6>
    </div>
    <div class="der d-flex">
      <app-btn-red-social
        imageURL="assets/icons/github.svg"
        alt="Github logo"
        (click)="goTo('Github')"
        class="d-none d-md-block p-1"
      ></app-btn-red-social>
      <app-btn-red-social
        imageURL="assets/icons/linkedin.svg"
        alt="Linkedin logo"
        (click)="goTo('Linkedin')"
        class="d-none d-md-block p-1"
      ></app-btn-red-social>
      <button
        class="m-1"
        (click)="openLoginModal()"
        [class]="isLogged ? 'isLogged' : 'notLogged'"
      >
        {{ isLogged ? "LogOut" : "LogIn" }}
      </button>
    </div>
  </div>
</nav>

<app-modal [isModalOpen]="showLoginModal" (onLogin)="login($event)"></app-modal>
