<header class="container">
  <div class="Banner  {{ isLogged ? 'canClick' : '' }} "></div>

  <div class="Profile  {{ isLogged ? 'canClick' : '' }}">
    <img
      src="/assets/FotoDePerfil.png"
      alt="Foto de perfil"
      width="auto"
      height="auto"
    />
  </div>

  <div class="ProfileInfo">
    <h2 class="">{{ name }} <editBtn *ngIf="isLogged"></editBtn></h2>
    <h3>{{ title }} <editBtn *ngIf="isLogged"></editBtn></h3>
    <h3>{{ from }} <editBtn *ngIf="isLogged"></editBtn></h3>
    <h3 class="Link">
      Información de contacto <editBtn *ngIf="isLogged"></editBtn>
    </h3>
  </div>
</header>
