<header class="container">
  <div class="Banner  {{ isLogged ? 'canClick' : '' }} ">
    <img
      [src]="personContent?.bannerImg"
      alt="Banner de perfil"
      width="auto"
      height="auto"
      class="imgBanner"
    />
    <editBtn
      *ngIf="isLogged"
      key="bannerImg"
      value="{{ personContent?.bannerImg }}"
      [fileUpload]="true"
      (updatedValue)="onUpdatedPerson($event)"
    ></editBtn>
  </div>

  <div class="Profile  {{ isLogged ? 'canClick' : '' }}">
    <img
      [src]="personContent?.profileImg"
      alt="Foto de perfil"
      width="auto"
      height="auto"
    />
    <editBtn
      *ngIf="isLogged"
      key="profileImg"
      value="{{ personContent?.profileImg }}"
      [fileUpload]="true"
      (updatedValue)="onUpdatedPerson($event)"
    ></editBtn>
  </div>

  <div class="ProfileInfo">
    <div class="d-flex align-items-center">
      <h2>
        {{ personContent?.fullName }}
        <editBtn
          *ngIf="isLogged"
          key="fullName"
          value="{{ personContent?.fullName }}"
          (updatedValue)="onUpdatedPerson($event)"
        ></editBtn>
      </h2>
    </div>
    <div class="d-flex">
      <h3>
        {{ personContent?.title }}
        <editBtn
          *ngIf="isLogged"
          key="title"
          value="{{ personContent?.title }}"
          (updatedValue)="onUpdatedPerson($event)"
        ></editBtn>
      </h3>
    </div>
    <div class="d-flex">
      <h3>
        {{ contactContent?.address }}
        <editBtn
          *ngIf="isLogged"
          key="address"
          value="{{ contactContent?.address }}"
          (updatedValue)="onUpdatedContact($event)"
          [id]="contactContent?.id"
        ></editBtn>
      </h3>
    </div>
    <div>
      <h3
        class="Link d-inline"
        data-bs-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Información de contacto
      </h3>
      <div class="collapse" id="collapseExample">
        <div class="collapse2">
          <h3>
            Telefono: {{ contactContent?.phone }}
            <editBtn
              *ngIf="isLogged"
              key="phone"
              value="{{ contactContent?.phone }}"
              (updatedValue)="onUpdatedContact($event)"
              [id]="contactContent?.id"
            ></editBtn>
          </h3>
          <h3>
            E-Mail: {{ contactContent?.email }}
            <editBtn
              *ngIf="isLogged"
              key="email"
              value="{{ contactContent?.email }}"
              (updatedValue)="onUpdatedContact($event)"
              [id]="contactContent?.id"
            ></editBtn>
          </h3>
          <h3>
            Linkedin:
            <span class="Link" (click)="goTo(contactContent?.linkedin!)">{{
              contactContent?.linkedin
            }}</span>
            <editBtn
              *ngIf="isLogged"
              key="linkedin"
              value="{{ contactContent?.linkedin }}"
              (updatedValue)="onUpdatedContact($event)"
              [id]="contactContent?.id"
            ></editBtn>
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>
