<div class="container Recuadro">
  <h2 class="Title">Soft Skills</h2>
  <div class="Soft_Item">
    <h3>Capacidad resolutiva</h3>
    <div class="Box_Total">
      <div class="Box_Porcentaje" style="width: 60%"></div>
    </div>
  </div>
  <div class="Soft_Item">
    <h3>Trabajo en equipo</h3>
    <div class="Box_Total">
      <div class="Box_Porcentaje" style="width: 80%"></div>
    </div>
  </div>
  <div class="Soft_Item">
    <h3>Gestión del tiempo</h3>
    <div class="Box_Total">
      <div class="Box_Porcentaje" style="width: 90%"></div>
    </div>
  </div>
  <div class="Soft_Item">
    <h3>Autodidacta</h3>
    <div class="Box_Total">
      <div class="Box_Porcentaje" style="width: 90%"></div>
    </div>
  </div>
  <div class="Soft_Item">
    <h3>Calidad</h3>
    <div class="Box_Total">
      <div class="Box_Porcentaje" style="width: 70%"></div>
    </div>
  </div>
</div>
