<div class="container Recuadro">
  <h2 class="Title">
    {{ info?.title }}
    <editBtn
      *ngIf="isLogged"
      key="title"
      value="{{ info?.title }}"
      (updatedValue)="onUpdatedValue($event)"
    ></editBtn>
  </h2>
  <!-- <editable data="{{ info?.title }}" heading="Title"></editable> -->

  <div class="Soft_Item" *ngFor="let item of info?.items; index as i">
    <h3>
      {{ item.name }}
      <editBtn
        *ngIf="isLogged"
        key="name"
        value="{{ item.name }}"
        (updatedValue)="onUpdatedValue($event)"
        [position]="i"
      ></editBtn>
    </h3>
    <!-- <editable
      data="{{ item.name }}"
      heading="DisplaySubH2"
      [withPorcent]="true"
      [dataPorcent]="item.porcent"
    ></editable> -->

    <div class="d-flex w-100 justify-content-center">
      <editBtn
        *ngIf="isLogged"
        key="porcent"
        value="{{ item.porcent }}"
        (updatedValue)="onUpdatedValue($event)"
        [position]="i"
      ></editBtn>
      <div class="Box_Total">
        <div class="Box_Porcentaje" style.width="{{ item.porcent }}%"></div>
      </div>
    </div>
  </div>
</div>
