<div class="container Recuadro">
  <h2 class="Title">
    {{ info?.title }}
    <editBtn
      *ngIf="isLogged"
      key="title"
      value="{{ info?.title }}"
      (updatedValue)="onUpdatedValue($event)"
    ></editBtn>
  </h2>

  <div class="Curso_item" *ngFor="let item of info?.schools">
    <div class="Curso_item__imgContainer">
      <img
        [src]="item.logoUrl"
        alt="Logo Empresa"
        width="auto"
        height="auto"
        [class]="isLogged ? 'canClick' : ''"
      />
      <editBtn
        *ngIf="isLogged"
        key="logoUrl"
        value="{{ item.logoUrl }}"
        [fileUpload]="true"
        (updatedValue)="onUpdatedValue($event)"
        [id]="item.id"
      ></editBtn>
    </div>
    <div>
      <h2>
        {{ item.company }}
        <editBtn
          *ngIf="isLogged"
          key="company"
          value="{{ item.company }}"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item.id"
        ></editBtn>
      </h2>
      <div class="ClassItem" *ngFor="let clase of item.class">
        <h3>
          {{ clase.title }}
        </h3>
        <h4>
          {{ clase.date }}
        </h4>
        <h4 class="Link" (click)="redirect(clase.certificate)">Certificado</h4>
      </div>

      <!-- <h3>
        {{ item.company || item.title }}
        <editBtn
          *ngIf="isLogged"
          [key]="item.company ? 'company' : 'title'"
          [value]="item.company || item.title"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item.id"
        ></editBtn>
      </h3>
      <h4>
        {{ item.date }}
        <editBtn
          *ngIf="isLogged"
          key="date"
          [value]="item.date"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item.id"
        ></editBtn>
      </h4>
      <h4>
        {{ item.extra }}
        <editBtn
          *ngIf="isLogged"
          key="extra"
          [value]="item.extra"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item.id"
        ></editBtn>
      </h4> -->
    </div>
  </div>
</div>
