<div class="modalDialog {{ isModalOpen && 'show ' }}">
  <div>
    <h2 class="TitleModal">LOGIN</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3 inputContainer">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          id="email"
          [(ngModel)]="email"
        />
      </div>
      <div class="mb-3 inputContainer">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          [(ngModel)]="password"
        />
      </div>
      <div class="d-flex justify-content-around w-100">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input
          type="button"
          value="Cerrar"
          class="btn btn-danger"
          (click)="closeLoginModal()"
        />
      </div>
    </form>
  </div>
</div>
