.Project_Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
  margin-top: 20px;
}

.Project_Item h2 {
  font-family: "Montserrat500";
  font-weight: bold;
  color: #363636;
  font-size: 1.5rem;
}

.Project_Item h3 {
  font-family: "Lato400";
  font-size: 1rem;
}

.Project_Item h4 {
  font-weight: bold;
  color: #0094ff;
  cursor: pointer;
}

.Project_Item__GithubBox {
  width: 30px;
  height: 30px;
}
.Project_Item__GithubBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Project_Item__Box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.Project_Item__Box h5 {
  margin: 0;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 576px) {
  .Project_Item {
    margin-left: 50px;
    padding: 10px;
  }
  .Project_Item__Box h5 {
    margin-left: 15px;
  }

  .Project_Item h3 {
    font-size: 1.3rem;
  }
  .Project_Item h4 {
    font-size: 1rem;
  }
}
