<div class="container Recuadro">
  <h2 class="Title">{{ info?.title }}</h2>

  <div class="Project_Item" *ngFor="let item of info?.items">
    <h2>{{ item.name }}</h2>
    <h3>
      {{ item.description }}
    </h3>
    <h4 (click)="redirect(item.webLink)">{{ item.webLink }}</h4>

    <div class="Project_Item__Box" *ngIf="item.githubLink">
      <div class="Project_Item__GithubBox">
        <img
          src="/assets/icons/githubBlack.svg"
          alt="dsa"
          width="auto"
          height="auto"
        />
      </div>
      <h5 (click)="redirect(item.githubLink)">{{ item.githubLink }}</h5>
    </div>
  </div>
</div>
