<div class="container Recuadro">
  <h2 class="Title">{{ info?.title }} <editBtn *ngIf="isLogged"></editBtn></h2>

  <div class="Project_Item" *ngFor="let item of info?.items">
    <h2>{{ item.name }} <editBtn *ngIf="isLogged"></editBtn></h2>
    <h3>{{ item.description }} <editBtn *ngIf="isLogged"></editBtn></h3>
    <h4 (click)="redirect(item.webLink)">
      {{ item.webLink }} <editBtn *ngIf="isLogged"></editBtn>
    </h4>

    <div class="Project_Item__Box">
      <div class="Project_Item__GithubBox" *ngIf="item.githubLink">
        <img
          src="/assets/icons/githubBlack.svg"
          alt="dsa"
          width="auto"
          height="auto"
        />
      </div>
      <h5 (click)="redirect(item.githubLink)">
        {{ item.githubLink }} <editBtn *ngIf="isLogged"></editBtn>
      </h5>
    </div>
  </div>
</div>
