<div class="mb-5">
  <app-navbar></app-navbar>
  <app-header
    name="{{ profileInfo.name }}"
    title="{{ profileInfo.title }}"
    from="{{ profileInfo.from }}"
  ></app-header>
  <hr />
  <app-about [info]="profileInfo.about!"></app-about>
  <hr />
  <app-experience [info]="profileInfo.experience!"></app-experience>
  <hr />
  <app-experience [info]="profileInfo.education!"></app-experience>
  <hr />
  <app-skills [info]="profileInfo.hardSkill!"></app-skills>
  <hr />
  <app-soft [info]="profileInfo.softSkill!"></app-soft>
  <hr />
  <app-projects [info]="profileInfo.project!"></app-projects>
</div>
