<div class="container Recuadro">
  <h2 class="Title">Hard Skills</h2>

  <div class="SKillContainer">
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">a</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">a</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">Javascript</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">Javascript</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">Javascript</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">TypeScript</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">Angular</h2>
    </div>
    <div class="Skill_Item">
      <div class="Skill_Item__ImageContainer">
        <img src="/assets/icons/js.png" alt="" width="auto" height="auto" />
      </div>
      <h2 class="Skill_Item__Title">NodeJs</h2>
    </div>
  </div>
</div>
