<div class="container Recuadro">
  <h2 class="Title">Experiencia</h2>
  <div class="ExpContainer_item">
    <div class="ExpContainer_item__imgContainer">
      <img
        src="/assets/empresa.png"
        alt="Logo Empresa"
        width="auto"
        height="auto"
      />
    </div>
    <div>
      <h2>Backend</h2>
      <h3>Pixar - Jornada completa</h3>
      <h4>mar 2019 - actualidad</h4>
      <h4>{{ Info }}</h4>
    </div>
  </div>

  <div class="ExpContainer_item">
    <div class="ExpContainer_item__imgContainer">
      <img
        src="/assets/empresa.png"
        alt="Logo Empresa"
        width="auto"
        height="auto"
      />
    </div>
    <div>
      <h2>Backend Developer</h2>
      <h3>Pixar - Jornada completa</h3>
      <h4>mar 2019 - actualidad</h4>
    </div>
  </div>
</div>
