<div
  class="container Recuadro"
  *ngIf="(section?.visible && !isLogged) || isLogged"
>
  <h2 class="Title">
    {{ section?.sectionTitle }}
    <editBtn
      *ngIf="isLogged"
      key="sectionTitle"
      value="{{ section?.sectionTitle }}"
      (updatedValue)="onUpdatedTitleValue($event)"
    ></editBtn>
    <addBtn *ngIf="isLogged" [addBtn]="true" (click)="onAddItem()"></addBtn>
    <visible-btn
      *ngIf="isLogged"
      [isVisible]="section?.visible"
      key="visible"
      (toggleVisibility)="onUpdatedTitleValue($event)"
      [id]="section?.id"
    >
    </visible-btn>
  </h2>

  <div class="ExpContainer_item" *ngFor="let item of content">
    <div class="ExpContainer_item__imgContainer">
      <img
        [src]="item?.logo ? item?.logo : '/assets/default.png'"
        alt="Logo Empresa"
        width="auto"
        height="auto"
        [class]="isLogged ? 'canClick' : ''"
      />
      <editBtn
        *ngIf="isLogged"
        key="logo"
        value="{{ item?.logo }}"
        [fileUpload]="true"
        (updatedValue)="onUpdatedValue($event)"
        [id]="item?.id"
      ></editBtn>
    </div>
    <div>
      <h2>
        {{ item?.name }}
        <editBtn
          *ngIf="isLogged"
          key="name"
          value="{{ item?.['name'] }}"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item?.id!"
        ></editBtn>
        <addBtn
          *ngIf="isLogged"
          [removeBtn]="true"
          (click)="onRemoveItem(item?.id!)"
        ></addBtn>
      </h2>
      <h3>
        {{ item?.['company'] || item?.['title'] }}
        <editBtn
          *ngIf="isLogged"
          [key]="item?.['company'] ? 'company' : 'title'"
          value="{{item?.['company'] || item?.['title']}}"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item?.id"
        ></editBtn>
      </h3>
      <h4>
        {{ item?.['date'] }}
        <editBtn
          *ngIf="isLogged"
          key="date"
          value="{{item?.['date']}}"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item?.id"
        ></editBtn>
      </h4>
      <h4>
        {{ item?.['extra'] }}
        <editBtn
          *ngIf="isLogged"
          key="extra"
          value="{{item?.['extra']}}"
          (updatedValue)="onUpdatedValue($event)"
          [id]="item?.id"
        ></editBtn>
      </h4>
    </div>
  </div>
</div>
